<app-nav></app-nav>

<section class="vh-100 gradient-custom">
  <div class="container py-5">


    <div class="row d-flex justify-content-center align-items-center ">

      <img src="./../../assets/student.png" alt="student_home" class="home_image">
      <h1 class="fw-bold text-uppercase welcome"> Welcome ! </h1>


      <h1 class="fw-bold text-uppercase welcome" style="font-size:20px; margin-top:40px"> You can send a mail here :
      </h1>


      <div style="height: 200px; width: 400px;">


        <form class="row d-flex justify-content-center align-items-center">

          <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" placeholder="example@example.com" />
          </div>

          <button type="button" class="btn btn-primary btn-lg">Send Email</button>

        </form>
      </div>




    </div>

  </div>
</section>